* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.column {
  margin: 0 auto;
  max-width: 350px;
  padding: 0 10px; 
}

.row {
  margin: 0 -5px;
}



h2 {
  color: rgb(212, 132, 172);
  font-family: 'Damion', cursive;
  font-size: 35px;
}


.tannerdegosser {
  left: 60px;
  top: 60px;
}

.text {
  color: white;
  font-size: 18px;
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.card {
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1px;
  position: relative;
  text-align: center;
}

.card img {
  height: auto;
  width: 100%;
}

.card:hover img {
  opacity: 0.2;
}


.card:hover .tableun {
  opacity: 1;
}

.card:hover .tabledeux {
  opacity: 1;
}

.card:hover .tabletrois {
  opacity: 1;
}

.card:hover .tablequatre {
  opacity: 1;
}




.alain {
  color: rgb(226, 193, 109);
  margin-left: 20px;
  margin-top: 30px;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: .5s ease;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.tableun {
  border-collapse: collapse;
  bottom: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
  height: 350px;
  left: 10px;
  margin-bottom: 35px;
  margin-left: 30px;
  margin-top: 70px;
  opacity: 0;
  position: absolute;
  text-align: left;
  transition: .5s ease;
  width: 250px;
}

.jee {
  color: rgb(226, 193, 109);
  margin-left: 20px;
  margin-top: 30px;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: .5s ease;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.tabledeux {
  border-collapse: collapse;
  bottom: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
  height: 350px;
  left: 40px;
  margin-bottom: 52px;
  margin-right: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  transition: .5s ease;
  width: 250px;
}

.dove {
  color: rgb(226, 193, 109);
  margin-left: 20px;
  margin-top: 30px;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: .5s ease;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}


.tabletrois {
  border-collapse: collapse;
  bottom: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
  height: 350px;
  left: 40px;
  opacity: 0;
  padding-right: 40px;
  position: absolute;
  text-align: left;
  top: 90px;
  transition: .5s ease;
  width: 250px;
}


.docteur {
  color: rgb(226, 193, 109);
  opacity: 1;
  position: absolute;
  transition: .5s ease;
  top: 0;
  margin-left: 18px;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}


.tablequatre {
  border-collapse: collapse;
  bottom: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
  height: 350px;
  margin-top: 15px;
  opacity: 0;
  position: absolute;
  text-align: left;
  transition: .5s ease;
  width: 250px;
  left: 40px;
  margin-bottom: 60px;
}



tr {
  border-bottom: 1px solid white;
  font-size: 14px;
  text-align: left;
}

td {
  
  padding: 4px;
  text-align: left;
}



.image {
  opacity: 1;
  transition: .5s ease;
}

@media screen and (min-width: 800px) {

  html {
    font-size: 62.5%;
  }

  body {
    background-attachment: fixed;
    background-size: auto 100vh;
}

  .spotify {
    display: grid;
    grid-template-columns: 3fr repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 250px;
    background-color: #f5c555;
  }
  
  .album_cover {
    grid-area: 1 / 1 / 3 / 2;
    z-index: 1;
  }
  
  #image_base {
    position: absolute;
    width: 180px;
    margin-top: 35px;
    margin-left: 35px;
    z-index: 10;
    opacity: 1;
  }
  
  #cover2 {
    position: absolute;
    width: 180px;
    margin-top: 35px;
    margin-left: 60px;
    z-index: 9;
    opacity: 0.9;
  }
  
  #cover3 {
    position: absolute;
    width: 180px;
    margin-top: 35px;
    margin-left: 85px;
    z-index: 8;
    opacity: 0.8;
  }
  
  #cover4 {
    position: absolute;
    width: 180px;
    margin-top: 35px;
    margin-left: 110px;
    z-index: 7;
    opacity: 0.7;
  }
  
  #cover5 {
    position: absolute;
    width: 180px;
    margin-top: 35px;
    margin-left: 135px;
    z-index: 6;
    opacity: 0.6;
  }
  
  #cover6 {
    position: absolute;
    width: 180px;
    margin-top: 35px;
    margin-left: 160px;
    z-index: 5;
    opacity: 0.5;
  }
  
  #cover7 {
    position: absolute;
    width: 180px;
    margin-top: 35px;
    margin-left: 185px;
    z-index: 4;
    opacity: 0.4;
  }
  
  #cover8 {
    position: absolute;
    width: 180px;
    margin-top: 35px;
    margin-left: 210px;
    z-index: 3;
    opacity: 0.3;
  }
  
  #cover9 {
    position: absolute;
    width: 180px;
    margin-top: 35px;
    margin-left: 235px;
    z-index: 2;
    opacity: 0.2;
  }
  
  #cover10 {
    position: absolute;
    width: 180px;
    margin-top: 35px;
    margin-left: 260px;
    z-index: 1;
    opacity: 0.1;
  }
  
  .album_infos {
    grid-column-start: 14;
    grid-column-end: 15;
    margin-top: 10px;
    margin-right: 60px;
    z-index: 2;
  }
  
  .album_name {
    grid-area: 1 / 2 / 2 / 5;
    margin-top: 15px;
    font-size: 4rem;
    font-weight: bold;
    color: black;
    width: 100%;
  }
  
  .spotify_listen {
    grid-area: 2 / 2 / 2 / 5;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin-top: -20px;
    margin-left: -10px;
    width: 100%;
    z-index: 3;
  }
  
  #dispo {
    font-size: 1em;
    font-weight: bold;
  }
  
  .spotify_listen p {
    font-size: 0.75em;
    margin-bottom: 0.75rem;
    line-height: 90%;
  }
  
  [id^="block"] i {
    zoom: 180%
  }

  #block_3 a:link {
    color: black;
  }

  #block_3 a:visited {
    color: black;
  }

  #block_3 a:hover {
  color: rgb(65, 209, 65);
  }
}

@media screen and (max-width: 800px) {

  html {
    font-size: 62.5%;
  }

  .spotify {
    display: grid;
    justify-content: center;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 250px;
    background-color: #f5c555;
  }
  
  .album_cover {
    z-index: 1;
  }
  
  #image_base {
    position: absolute;
    width: 180px;
    margin-top: 35px;
    margin-left: 35%;
    opacity: 1;
  }

  [id^="cover"] {
    display: none;
  }

  .album_infos {
    grid-column-start: 14;
    grid-column-end: 15;
    margin-top: 10px;
    z-index: 2;
  }
  
  .album_name {
    margin-top: 15px;
    font-size: 4rem;
    font-weight: bold;
    color: black;
    width: 100%;
  }
  
  .spotify_listen {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin-top: -20px;
    margin-left: -10px;
    width: 100%;
    z-index: 3;
  }
  
  #dispo {
    font-size: 1em;
    font-weight: bold;
  }
  
  .spotify_listen p {
    font-size: 0.75em;
    margin-bottom: 0.75rem;
    line-height: 90%;
  }
  
  [id^="block_"] i {
    zoom: 180%
  }

  #block_3 a:link {
    color: black;
  }

  #block_3 a:visited {
    color: black;
  }

  #block_3 a:hover {
  color: rgb(65, 209, 65);
  }
}




@media screen and (max-width: 801px) {
  .column {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  }
}


@media screen and (min-width: 800px) {
  body {
      background-color: black;
  }
  
  
  .row {
      display: flex;
      flex-direction: baseline;
  }

  .tableun, .tabledeux, .tabletrois, .tablequatre {
      display: none;
  }

  
  .text {
      font-size: 15px;
      
  }
}


