* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

.column {
    margin: 0 auto;
    max-width: 350px;
    padding: 0 10px; 
}

.row {
    margin: 0 -5px;
}



h2 {
    color: rgb(212, 132, 172);
    font-family: 'Damion', cursive;
    font-size: 35px;
}


.tannerdegosser {
    left: 60px;
    top: 60px;
}

.text {
    color: white;
    font-size: 18px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.card {
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1px;
    position: relative;
    text-align: center;
}

.card img {
    height: auto;
    width: 100%;
}

.card:hover img {
    opacity: 0.2;
}


.card:hover .tableun {
    opacity: 1;
}

.card:hover .tabledeux {
    opacity: 1;
}

.card:hover .tabletrois {
    opacity: 1;
}

.card:hover .tablequatre {
    opacity: 1;
}




.alain {
    color: rgb(226, 193, 109);
    margin-left: 20px;
    margin-top: 30px;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: .5s ease;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.tableun {
    border-collapse: collapse;
    bottom: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 350px;
    left: 10px;
    margin-bottom: 35px;
    margin-left: 30px;
    margin-top: 70px;
    opacity: 0;
    position: absolute;
    text-align: left;
    transition: .5s ease;
    width: 250px;
}

.jee {
    color: rgb(226, 193, 109);
    margin-left: 20px;
    margin-top: 30px;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: .5s ease;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.tabledeux {
    border-collapse: collapse;
    bottom: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 350px;
    left: 40px;
    margin-bottom: 52px;
    margin-right: 30px;
    opacity: 0;
    position: absolute;
    text-align: left;
    transition: .5s ease;
    width: 250px;
}

.dove {
    color: rgb(226, 193, 109);
    margin-left: 20px;
    margin-top: 30px;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: .5s ease;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}


.tabletrois {
    border-collapse: collapse;
    bottom: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 350px;
    left: 40px;
    opacity: 0;
    padding-right: 40px;
    position: absolute;
    text-align: left;
    top: 90px;
    transition: .5s ease;
    width: 250px;
}


.docteur {
    color: rgb(226, 193, 109);
    opacity: 1;
    position: absolute;
    transition: .5s ease;
    top: 0;
    margin-left: 18px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}


.tablequatre {
    border-collapse: collapse;
    bottom: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 350px;
    margin-top: 15px;
    opacity: 0;
    position: absolute;
    text-align: left;
    transition: .5s ease;
    width: 250px;
    left: 40px;
    margin-bottom: 60px;
}



tr {
    border-bottom: 1px solid white;
    font-size: 14px;
    text-align: left;
}

td {
    
    padding: 4px;
    text-align: left;
}



.image {
    opacity: 1;
    transition: .5s ease;
}


@media screen and (max-width: 800px) {
    .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    }
}


@media screen and (min-width: 801px) {
    body {
        background-color: black;
    }
    
    
    .row {
        display: flex;
        flex-direction: baseline;
    }

    .tableun, .tabledeux, .tabletrois, .tablequatre {
        display: none;
    }

    
    .text {
        font-size: 15px;
        
    }
}






