body {
    background-color: #f5c555;

}
form {
    grid-column: 1/6;
    grid-row-start: 2;
}

/* FIELDSET GENERAL  */

fieldset {
    border-color: #eb90bc;
    color:white;
    margin: 25px;
    /* padding-right: 40px; */
}

label {
    margin-top:20px;
}

legend {
    text-align: center;
}

input {
    border:none;
    border-bottom: solid black 1px; 
    background-color: #f5c555;
    width: 90%;
    margin:0;


}

div {
    margin: 20px 0px 15px 0;
    padding:0;
}

#general {
    display: flex;
    flex-direction: column;

    
}

#phone {
    margin-bottom: 0;
}

/* FIELDSET ADRESSE  */

#adresse {
    background-color: #eb90bc;
    padding:  30px;
}

#adress {
    display:flex;
    flex-direction: column;
    
}

#adress-number {
    background-color: #eb90bc;
}

#street {
    background-color: #eb90bc;
}

#province {
    margin-bottom: 30px;
    display:block;
}

select {
    background-color: #eb90bc;
    margin-left: 4.5px;
    margin-bottom: 25px;
    padding: 10px 0 10px 0;
    width: 70%
}

#country {
    background-color: #eb90bc;
    margin-top:20px
    
}

#postal-code {
    background-color:#eb90bc;
    margin-top:20px;
}

/* DERNIERE SECTION  */

#favorite-color {
    border: none;
    height:50px;
    width: 50px;
    margin-top: 20px;
}

#color {
    display:block;
    
}

input[type=range] {
	background: transparent; 
	-webkit-appearance: none;
	width: 90%;
} 

input[type=range]::-webkit-slider-thumb {
	background: #f5c555;
	border: 1px solid #eb90bc; 
	border-radius: 50%;
    cursor: pointer;
	height: 30px;
	transform: translateY(-35%);
	-webkit-appearance: none;
	width: 30px;
}

input[type=range]::-webkit-slider-runnable-track {
	background: #eb90bc;
	border-radius: 15px;
	height: 10px;
}

#last-section {
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 50px;
}

.class {
    padding:40px 0 20px 0;
}
#note {
    margin-top:10px;
}

.checkbox {
    margin-left:40px;
    padding: 0;
}
.action {
    display: flex;
    align-items: flex-end;
}


#danser {
    width: 50px;
}

#groover{
    width: 50px;
}

#coucher-tard {
    width: 50px; 
}


.name input {
    display: flex;
    align-items: flex-start;
    
}

button { 
	background: transparent;
	border: 1px solid #000;
	cursor: pointer;
	height: 45px;	
}

.boutons {
    display: flex;
	justify-content: space-around; 
    margin: 60px auto;
	width: 400px;
}

    
/* MEDIA QUERY */

@media screen and (min-width: 1200px) {

    .first-line {
        display: flex;
        justify-content: space-between;
    }


    .fond {
        background-color: #f5c555;
        padding: 30px;
    }
   
    
    #general {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #adress {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .one-to-four {
        display: flex;
        justify-content: space-between;
        
    }
     

   .five-six {
        display: flex;
        justify-content: space-between; 
        padding:0;
   }

   #note {
    width: 100%;
   }


   .checkbox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80px;
   }

   p {
    margin:40px;
   }

   .action {
    font-size: 13px;
   }
   }
   .seven-eight {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

    .member {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

 
