body {
    background-color: #f5c555;

}
form {
    grid-column: 1/6;
    grid-row-start: 2;
}

/* FIELDSET GENERAL  */

fieldset {
    border-color: #eb90bc;
    color:white;
    margin: 25px;
    /* padding-right: 40px; */
}

label {
    margin-top:20px;
}

legend {
    text-align: center;
}

input {
    border:none;
    border-bottom: solid black 1px; 
    background-color: #f5c555;
    width: 90%;
    margin:0;


}

div {
    margin: 20px 0px 15px 0;
    padding:0;
}

#general {
    display: flex;
    flex-direction: column;

    
}

#phone {
    margin-bottom: 0;
}

/* FIELDSET ADRESSE  */

#adresse {
    background-color: #eb90bc;
    padding:  30px;
}

#adress {
    display:flex;
    flex-direction: column;
    
}

#adress-number {
    background-color: #eb90bc;
}

#street {
    background-color: #eb90bc;
}

#province {
    margin-bottom: 30px;
    display:block;
}

select {
    background-color: #eb90bc;
    margin-left: 4.5px;
    margin-bottom: 25px;
    padding: 10px 0 10px 0;
    width: 70%
}

#country {
    background-color: #eb90bc;
    margin-top:20px
    
}

#postal-code {
    background-color:#eb90bc;
    margin-top:20px;
}

/* DERNIERE SECTION  */

#favorite-color {
    border: none;
    height:50px;
    width: 50px;
    margin-top: 20px;
}

#color {
    display:block;
    
}

input[type=range] {
	background: transparent; 
	-webkit-appearance: none;
	width: 90%;
} 

input[type=range]::-webkit-slider-thumb {
	background: #f5c555;
	border: 1px solid #eb90bc; 
	border-radius: 50%;
    cursor: pointer;
	height: 30px;
	transform: translateY(-35%);
	-webkit-appearance: none;
	width: 30px;
}

input[type=range]::-webkit-slider-runnable-track {
	background: #eb90bc;
	border-radius: 15px;
	height: 10px;
}

#last-section {
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 50px;
}

.class {
    padding:40px 0 20px 0;
}
#note {
    margin-top:10px;
}

.action {
    display: flex;
    align-items: flex-end;
}

#membre {
    display:flex;
    flex-direction:column;
    width: 90%;
    margin-left: 10px;
}
    
/* MEDIA QUERY */

@media screen and (min-width: 1200px) {
    
    main { 
        grid-row: 1/3;
    }
    #general {
        display: flex;
        flex-wrap: wrap;
    }

    form {
        grid-row-start: 2;
    }
    
}
